<!-- Start: Footer Dark -->
<div class="footer-dark" style="background-color: #20a0ab;padding: 25px 0px;">
  <!-- Start: timeline panel -->
  <section id="about"></section>
  <!-- End: timeline panel -->
  <footer></footer>
  <div class="container">
    <div class="row">
      <!-- Start: Services -->
      <div class="col-sm-6 col-md-3 item">
        <h3>Services</h3>
        <ul>
          <li><a href="#">Web design</a></li>
          <li><a href="#">Development</a></li>
          <li><a href="#">Hosting</a></li>
        </ul>
      </div>
      <!-- End: Services -->
      <!-- Start: About -->
      <div class="col-sm-6 col-md-3 item">
        <h3>About</h3>
        <ul>
          <li><a href="#">Company</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <!-- End: About -->
      <!-- Start: Footer Text -->
      <div class="col-md-6 item text">
        <h3>Company Name</h3>
        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus
          elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
      </div>
      <!-- End: Footer Text -->
      <!-- Start: Social Icons -->
      <div class="col item social"><a href="http://bit.ly/2OZYekE" target="_blank"><i
            class="icon ion-social-facebook"></i></a><a href="http://bit.ly/2Dcfo8D" target="_blank"><i
            class="icon ion-social-twitter"></i></a><a href="http://bit.ly/2AAf8h6" target="_blank"><i
            class="icon ion-social-github-outline"></i></a>
        <a href="http://bit.ly/2P1AcGf" target="_blank"><i class="icon ion-social-linkedin-outline"></i></a><a
          href="http://bit.ly/2OXn6d8" target="_blank"><i class="icon ion-social-instagram-outline"></i></a></div>
      <!-- End: Social Icons -->
    </div>
    <!-- Start: Copyright -->
    <p class="copyright">Company Name © 2019</p>
    <!-- End: Copyright -->
  </div>
</div>
<!-- End: Footer Dark -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="javascripts/Animated-gradient-background.js?h=ed6755dc4d5393c56183f78c129bfc3b"></script>
<script src="/assets/js/Portfolio-harley.js?h=bb9b6034a296d8c979d2411e34a6bdbe"></script>
</body>

</html>