<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
		/>
		<title>my_portfolio-heroku_markup</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Lora"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Quicksand"
		/>
		<link rel="stylesheet" href="/public" />
		<link
			rel="stylesheet"
			href="/public/css/Animated-gradient-background-2.css?h=92ba2fac1ad0da102c518dac9a8b2f15"
		/>
		<link
			rel="stylesheet"
			href="/public/css/Animated-gradient-background.css?h=75f4036310ec81829f0718f28f0e2bee"
		/>
		<link
			rel="stylesheet"
			href="/public/css/Article-Dual-Column.css?h=bd7cecc64d89771757200462df6f9655"
		/>
		<link
			rel="stylesheet"
			href="/public/css/Article-List.css?h=cec575f25bba55cfaa10100750e76412"
		/>
		<link
			rel="stylesheet"
			href="/public/css/best-carousel-slide.css?h=5408fd1ed8ee0811e06775894c26acd1"
		/>
		<link
			rel="stylesheet"
			href="/public/css/Bold-BS4-Footer-Big-Logo.css?h=8c9af43c11fdddf11e0c340a952e9def"
		/>
		<link
			rel="stylesheet"
			href="/public/css/Features-Blue.css?h=40c554ded5b4b9c0c58451552419c167"
		/>
		<link
			rel="stylesheet"
			href="/public/css/Features-Clean.css?h=b4035f0c26446edaa24f97515c00550e"
		/>
		<link
			rel="stylesheet"
			href="/public/css/Footer-Dark.css?h=cabc25193678a4e8700df5b6f6e02b7c"
		/>
		<link
			rel="stylesheet"
			href="/public/css/gradient-navbar-1.css?h=4ae15b76681e1b1288bcefd94a110111"
		/>
		<link
			rel="stylesheet"
			href="/public/css/gradient-navbar.css?h=4ae15b76681e1b1288bcefd94a110111"
		/>
		<link
			rel="stylesheet"
			href="/public/css/Highlight-Phone.css?h=16d1aa407f2907e0ec907ae8c670468f"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
		/>
		<link
			rel="stylesheet"
			href="/public/css/OcOrato---Login-form-1.css?h=a92d276fa872b292e0e544de6101fe34"
		/>
		<link
			rel="stylesheet"
			href="/public/css/OcOrato---Login-form.css?h=5e9d4a9e6164c9b2e5a66ae8be0c6c08"
		/>
		<link
			rel="stylesheet"
			href="/public/css/Portfolio-harley-1.css?h=0c8e8790dd98418cde840d754584d80d"
		/>
		<link
			rel="stylesheet"
			href="/public/css/Portfolio-harley.css?h=7c506d201131e589db5d5a0b676dcada"
		/>
		<link
			rel="stylesheet"
			href="./public/css/Projects-Clean.css?h=a788dfb0658dfe6130c264c3c32d77f0"
		/>
		<link
			rel="stylesheet"
			href="./public/css/Projects-Horizontal.css?h=fb28b8d95a28dba5c6fec23412473f65"
		/>
		<link
			rel="stylesheet"
			href="/public/css/styles.css?h=d41d8cd98f00b204e9800998ecf8427e"
		/>
		<link
			rel="stylesheet"
			href="./public/css/test-navbar-1.css?h=22b9cc1144653412dd8167d87ee9de66"
		/>
	</head>

	<body>
		<header>
			<!-- Start: gradient-navbar -->
			<nav
				class="navbar navbar-dark navbar-expand-md"
				id="app-navbar"
				style="height: 60px;"
			>
				<div class="container-fluid">
					<a class="navbar-brand" href="#"
						><i class="icon ion-ios-infinite" id="brand-logo"></i></a
					><button
						data-toggle="collapse"
						class="navbar-toggler"
						data-target="#navcol-1"
					>
						<span class="sr-only">Toggle navigation</span
						><span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navcol-1">
						<ul class="nav navbar-nav ml-auto">
							<li class="nav-item" role="presentation">
								<a class="nav-link active" href="/about.html">ABOUT</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" href="/projects.html">PROJECTS</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" href="/portfolio.html">PORTFOLIO</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" href="/mailinglist.html">MAILINGLIST</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- End: gradient-navbar -->
		</header>
	</body>
</html>
