<% include ../partials/header%>

<!-- <h1><%= title %></h1>
<p>Welcome to <%= title %></p> -->

<!-- Start: Highlight Phone -->
<div class="highlight-phone">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!-- Start: Intro -->
				<div class="intro">
					<h2>Highlight</h2>
					<p>
						Nunc luctus in metus eget fringilla. Aliquam sed justo ligula.
						Vestibulum nibh erat, pellentesque ut laoreet vitae. Aliqua sed
						justo ligula.
					</p>
					<a class="btn btn-primary" role="button" href="#">Action Button</a>
				</div>
				<!-- End: Intro -->
			</div>
			<div class="col-sm-4">
				<!-- Start: Smartphone -->
				<div class="d-none d-md-block iphone-mockup">
					<img
						class="device"
						src="/assets/img/iphone.svg?h=90458b07193a350600e87a8d6c9c6b16"
						style='background-image: url("/assets/img/iphone.svg?h=90458b07193a350600e87a8d6c9c6b16");'
					/>
					<div
						class="screen"
						style='background-image: url("/assets/img/mearn-stack-graphics-192x192.png?h=ee1ba876cb5f5d64851a1a6afe3d852f");background-size: auto;background-repeat: no-repeat;background-position: 25px 25px;'
					></div>
				</div>
				<!-- End: Smartphone -->
			</div>
		</div>
	</div>
</div>
<!-- End: Highlight Phone -->
<!-- Start: Features Clean -->
<div class="features-clean">
	<div class="container">
		<!-- Start: Intro -->
		<div class="intro">
			<h2 class="text-center">Features</h2>
			<p class="text-center">
				Nunc luctus in metus eget fringilla. Aliquam sed justo ligula.
				Vestibulum nibh erat, pellentesque ut laoreet vitae.
			</p>
		</div>
		<!-- End: Intro -->
		<!-- Start: Features -->
		<div class="row features">
			<div class="col-sm-6 col-lg-4 item">
				<i class="fa fa-map-marker icon"></i>
				<h3 class="name">Works everywhere</h3>
				<p class="description">
					Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
					Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.
				</p>
			</div>
			<div class="col-sm-6 col-lg-4 item">
				<i class="fa fa-clock-o icon"></i>
				<h3 class="name">Always available</h3>
				<p class="description">
					Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
					Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.
				</p>
			</div>
			<div class="col-sm-6 col-lg-4 item">
				<i class="fa fa-list-alt icon"></i>
				<h3 class="name">Customizable</h3>
				<p class="description">
					Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
					Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.
				</p>
			</div>
			<div class="col-sm-6 col-lg-4 item">
				<i class="fa fa-leaf icon"></i>
				<h3 class="name">Organic</h3>
				<p class="description">
					Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
					Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.
				</p>
			</div>
			<div class="col-sm-6 col-lg-4 item">
				<i class="fa fa-plane icon"></i>
				<h3 class="name">Fast</h3>
				<p class="description">
					Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
					Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.
				</p>
			</div>
			<div class="col-sm-6 col-lg-4 item">
				<i class="fa fa-phone icon"></i>
				<h3 class="name">Mobile-first</h3>
				<p class="description">
					Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
					Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.
				</p>
			</div>
		</div>
		<!-- End: Features -->
	</div>
</div>
<!-- End: Features Clean -->
<!-- Start: Article List -->
<div class="article-list"></div>
<!-- End: Article List -->
<!-- Start: Portfolio harley -->
<section></section>
<!-- End: Portfolio harley -->

<% include ../partials/footer %>
