<% include ../partials/header%>
<!-- 
<h1><%= title %></h1>
<p>Welcome to <%= title %></p> -->

<!-- Start: Projects Horizontal -->
<div class="projects-horizontal">
	<div class="container">
		<!-- Start: Intro -->
		<div class="intro">
			<h2 class="text-center">Projects</h2>
			<p class="text-center">
				Nunc luctus in metus eget fringilla. Aliquam sed justo ligula.
				Vestibulum nibh erat, pellentesque ut laoreet vitae.
			</p>
		</div>
		<!-- End: Intro -->
		<!-- Start: Projects -->
		<div class="row projects">
			<div class="col-sm-6 item">
				<div class="row">
					<div class="col-md-12 col-lg-5">
						<a href="#"
							><img
								class="img-fluid"
								src="/assets/img/desk.jpg?h=eb13a93b684e809ab05a72b772400000"
						/></a>
					</div>
					<div class="col">
						<h3 class="name">Project Name</h3>
						<p class="description">
							Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
							Praesent aliquam in tellus eu gravida.
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 item">
				<div class="row">
					<div class="col-md-12 col-lg-5">
						<a href="#"
							><img
								class="img-fluid"
								src="/assets/img/building.jpg?h=46bdda0649affee6316e2b704962f494"
						/></a>
					</div>
					<div class="col">
						<h3 class="name">Project Name</h3>
						<p class="description">
							Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
							Praesent aliquam in tellus eu gravida.
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 item">
				<div class="row">
					<div class="col-md-12 col-lg-5">
						<a href="#"
							><img
								class="img-fluid"
								src="/assets/img/loft.jpg?h=e7e3ca8b209b4746eb9f801ba8f50f50"
						/></a>
					</div>
					<div class="col">
						<h3 class="name">Project Name</h3>
						<p class="description">
							Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
							Praesent aliquam in tellus eu gravida.
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 item">
				<div class="row">
					<div class="col-md-12 col-lg-5">
						<a href="#"
							><img
								class="img-fluid"
								src="/assets/img/minibus.jpeg?h=a557b5d7b6e6114f3f666b2ebd2538bb"
						/></a>
					</div>
					<div class="col">
						<h3 class="name">Project Name</h3>
						<p class="description">
							Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
							Praesent aliquam in tellus eu gravida.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End: Projects -->
	</div>
</div>
<!-- End: Projects Horizontal -->

<% include ../partials/footer %>
